<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Welcome Email from GBC Architects</title>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="center" valign="top" bgcolor="68B1EE" style="background-color:#68B1EE;">
                    <br>
                    <br>
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td height="70" align="left" valign="middle"></td>
                            </tr>
                            <tr>
                                <td align="left" valign="top"><!---img src="http://localhost:2131/Templates/EmailTemplate/images/top.png" width="600" height="13" style="display:block;"----></td>
                            </tr>

                            <tr>
                                <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="40%" align="center" valign="middle" style="padding:10px;">
                                                    <img src="../../../siteuploadfiles/s1/wwwroot/logo3.jpg" width="169" height="187" style="display:block">
                                                </td>
                                                <td align="center" valign="middle" style="padding:10px; color:#564319; font-size:28px; font-family:Georgia, 'Times New Roman', Times, serif;">
                                                    Good News! <small>Your project has been Updated.</small>
                                                </td>


                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>

                                                <td align="left" valign="middle" style="color:#525252; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                                                    <div style="font-size:16px;">
                                                        Dear {2},
                                                    </div>
                                                    <div style="font-size:12px;">
                                                        Thank you for showing your interest  in  our website.
                                                        All you need to do is click the button below (it only takes a few seconds).
                                                        You won’t be asked to log in to your account – we're simply verifying ownership of this email address.
                                                        <hr>
                                                        <center>

                                                            <button type="button" title="Confirm Account Registration" style="background: #1b97f1; padding: 5px">
                                                                <a href="{6}" style="font-size:22px; padding: 15px; color: #ffffff">
                                                                    Confirm Email Now
                                                                </a>
                                                            </button>

                                                        </center>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="">
                                        <tbody>
                                            <tr>
                                                <td align="left" valign="middle" style="padding:15px; background-color:#87BB4C; font-family:Arial, Helvetica, sans-serif;">
                                                    <div style="font-size:20px; color:#fff;">
                                                        <b>Update your password now.</b>
                                                    </div>
                                                    <div style="font-size:13px; color:#ffffff;">
                                                        Weak passwords get stolen and lead to hacked accounts. Celebrate World Password Day with a new, strong password.
                                                        <br>
                                                        <br>
                                                        <a href="#" style="color:#ffe77b; text-decoration:underline;">CLICK HERE</a> TO CHANGE PASSOWORD
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <br>
                    <br>
                </td>
            </tr>
        </tbody>
    </table>




</body>
</html>